.small-text {
    font-size: x-small;
}

.results-img{
    width: 50%;
    height: auto;

}

.row-margin{
    margin: 5px;
}

a{
    color: #009900;
    font-weight: bold;
}
.floatlf{
    float: left;
}

.clear-width{
    width: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.section-back{
    /*background: lightgray url(../images/lowerbg.png) no-repeat scroll bottom center;*/
}

.section-text{
    height: auto;
    width: 60%;
}

.about-section{
    background: lightgray url(../images/lowerbg.png) no-repeat scroll bottom center;
    width: 100%;
    padding: 100px 0;
    text-align: center;
    color: #000;
}

.how-section{
    width: 100%;
    padding: 100px 0;
    background-color: darkgreen;
    background-image: url("../images/floral-387197_6402-yellow-left.png"), url("../images/floral-387197_6402-yellow-right.png");
    background-position: bottom left, bottom right;
    background-repeat: no-repeat;
    background-size: 20% auto;
    color: #f5f5f5;
}

.how-section a{
    text-decoration: underline;
    color: gold;
}

.beforeafter-section{
    width: 100%;
    padding: 100px 0;
    background: white url("../images/abstract_transparent.png") no-repeat center;
    background-size: 100%;
    color: #000000;
}

.beforeandafterpic{
    width: 100%;
    height: auto;
    border: black 3px solid;
    cursor: pointer;
}

.shop-section{
    width: 100%;
    padding: 100px 0;
    background: #f5f5f5 url("../images/floral-387197_6402.png") no-repeat bottom right;
    background-size: 40% auto;
    color: #000000;
}

.contact-section{
    width:100%;
    padding: 100px 0;
    background: ghostwhite;
    color: #000000;
}

#emailMessageArea{
    display: flex;
    align-items: center;
}

.blackbg{
    background-color: #000;
}

.disclaimer-text{
    font-size: xx-small;
    font-style: italic;
    font-weight: bold;
}

.nav-logo {
    width: 80%;
    height: auto;
}

.nav-link{
    font-size: xx-small;
}

.nav-link-section{
    padding-right: 10px;
    float: right;
}

.simple_overlay {

    /* must be initially hidden */
    display:none;

    /* place overlay on top of other elements */
    z-index:10000;

    /* styling */
    background-color:#333;

    width:800px;
    min-height:200px;
    border:1px solid #666;

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}


.simple_overlay .close{
    color: #99cc33;
    position:absolute;
    cursor:pointer;
    height:35px;
    width:35px;
    right:-15px;
    top:-15px;
}

.picmodal {
    display: none;
    z-index: 10000;
    background-color: #333;
    border:1px solid #666;
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}

.picmodal .close{
    color: #99cc33;
    position:absolute;
    cursor:pointer;
    height:35px;
    width:35px;
    right:-16px;
    top:-25px;
}
